REACT_APP_APPWRITE_URL=https://sgp.cloud.appwrite.io/v1
REACT_APP_APPWRITE_PROJECT_ID=69e55c210008b1e56677
REACT_APP_APPWRITE_DATABASE_ID=69e626360010599b737b
REACT_APP_APPWRITE_COLLECTION_ID=name
REACT_APP_APPWRITE_BUCKET_ID=69e6ffce001fc393979d